@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient {
  0%, 100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-gradient {
  animation: gradient 6s ease infinite;
  background-size: 200% 200%;
}
