@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
